In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/forestfires.csv')

In [ ]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [ ]:
df.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [ ]:
df.columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [ ]:
df.dtypes

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

In [ ]:
df['X'] = df['X'].astype('object')
df['Y'] = df['Y'].astype('object')
df['FFMC'] = df['FFMC'].astype('object')
df['DMC'] = df['DMC'].astype('object')
df['ISI'] = df['ISI'].astype('object')
df['DC'] = df['DC'].astype('object')
df['RH'] = df['RH'].astype('object')
df['wind'] = df['wind'].astype('object')
df['rain'] = df['rain'].astype('object')
# df['area'] = df['area'].astype('object')
df['temp'] = df['temp'].astype('object')
# df['area'] = df['area'].astype('float64')

In [ ]:
df.dtypes

X         object
Y         object
month     object
day       object
FFMC      object
DMC       object
DC        object
ISI       object
temp      object
RH        object
wind      object
rain      object
area     float64
dtype: object

In [ ]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH wind rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51  6.7  0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33  0.9  0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33  1.3  0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97  4.0  0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99  1.8  0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..  ...  ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32  2.7  0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71  5.8  0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70  6.7  0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42  4.0  0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31  4.5  0.0   0.00

[517 rows x 13 columns]

In [ ]:
df['area'].max()

1090.84

In [ ]:
# df['area'] = pd.to_numeric(df['area'], errors='coerce')  # Convert 'area' column to numeric

for i in df['area'].values:
    if i == 0.0:
        df['area'] = df['area'].replace(i, 'not affected')
    elif (i > 0.0) and (i <= 250.0):
        df['area'] = df['area'].replace(i, 'partially affected')
    else:
        df['area'] = df['area'].replace(i, 'mostly affected')

In [ ]:
df

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,not affected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,not affected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,not affected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,not affected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,partially affected
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,partially affected
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,partially affected
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,not affected
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,not affected

In [ ]:
subset1 = df[df['area'] == 'not affected']
subset1

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,not affected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,not affected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,not affected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,not affected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,2,4,aug,fri,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,not affected
508,1,2,aug,fri,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,not affected
511,8,6,aug,sun,81.6,56.7,665.6,1.9,27.8,35,2.7,0.0,not affected
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,not affected
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,not affected

In [ ]:
subset2 = df[df['area'] == 'partially affected']
subset2

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
138,9,9,jul,tue,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,partially affected
139,1,4,sep,tue,91.0,129.5,692.6,7.0,21.7,38,2.2,0.0,partially affected
140,2,5,sep,mon,90.9,126.5,686.5,7.0,21.9,39,1.8,0.0,partially affected
141,1,2,aug,wed,95.5,99.9,513.3,13.2,23.3,31,4.5,0.0,partially affected
142,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,partially affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,5,4,aug,fri,91.0,166.9,752.6,7.1,21.1,71,7.6,1.4,partially affected
510,6,5,aug,fri,91.0,166.9,752.6,7.1,18.2,62,5.4,0.0,partially affected
512,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,partially affected
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,partially affected
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,partially affected

In [ ]:
subset3 = df[df['area'] == 'mostly affected']
subset3

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
238,6,5,sep,sat,92.5,121.1,674.4,8.6,25.1,27,4.0,0.0,mostly affected
415,8,6,aug,thu,94.8,222.4,698.6,13.9,27.5,27,4.9,0.0,mostly affected
479,7,4,jul,mon,89.2,103.9,431.6,6.4,22.6,57,4.9,0.0,mostly affected

In [ ]:
merge = pd.concat([subset2, subset3], axis = 0)
merge

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
138,9,9,jul,tue,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,partially affected
139,1,4,sep,tue,91.0,129.5,692.6,7.0,21.7,38,2.2,0.0,partially affected
140,2,5,sep,mon,90.9,126.5,686.5,7.0,21.9,39,1.8,0.0,partially affected
141,1,2,aug,wed,95.5,99.9,513.3,13.2,23.3,31,4.5,0.0,partially affected
142,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,partially affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,partially affected
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,partially affected
238,6,5,sep,sat,92.5,121.1,674.4,8.6,25.1,27,4.0,0.0,mostly affected
415,8,6,aug,thu,94.8,222.4,698.6,13.9,27.5,27,4.9,0.0,mostly affected
479,7,4,jul,mon,89.2,103.9,431.6,6.4,22.6,57,4.9,0.0,mostly affected

In [ ]:
sort = merge.sort_values(by = ['temp', 'wind', 'area'], ascending = True)
sort.head(20)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
280,4,6,dec,fri,84.7,26.7,352.6,4.1,2.2,59,4.9,0.0,partially affected
465,2,2,feb,sat,79.5,3.6,15.3,1.8,4.6,59,0.9,0.0,partially affected
463,6,5,feb,tue,75.1,4.4,16.2,1.9,4.6,82,6.3,0.0,partially affected
276,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
277,3,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
278,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
279,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
273,4,6,dec,sun,84.4,27.2,353.5,6.8,4.8,57,8.5,0.0,partially affected
275,4,6,dec,thu,84.6,26.4,352.0,2.0,5.1,61,4.9,0.0,partially affected
464,6,4,feb,tue,75.1,4.4,16.2,1.9,5.1,77,5.4,0.0,partially affected
211,7,4,aug,sat,93.5,139.4,594.2,20.3,5.1,96,5.8,0.0,partially affected
274,8,6,dec,wed,84.0,27.8,354.6,5.3,5.1,61,8.0,0.0,partially affected
281,6,5,dec,tue,85.4,25.4,349.7,2.6,5.1,24,8.5,0.0,partially affected
165,6,5,mar,thu,84.9,18.2,55.0,3.0,5.3,70,4.5,0.0,partially affected
176,6,5,apr,thu,81.5,9.1,55.2,2.7,5.8,54,5.8,0.0,partially affected
196,6,5,apr,thu,81.5,9.1,55.2,2.7,5.8,54,5.8,0.0,partially affected
390,7,4,feb,mon,84.7,9.5,58.3,4.1,7.5,71,6.3,0.0,partially affected
284,5,4,feb,fri,85.2,4.9,15.8,6.3,7.5,46,8.0,0.0,partially affected
411,7,4,feb,fri,84.6,3.2,43.6,3.3,8.2,53,9.4,0.0,partially affected
202,7,4,feb,sun,83.9,8.7,32.1,2.1,8.8,68,2.2,0.0,partially affected

In [ ]:
sort

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
280,4,6,dec,fri,84.7,26.7,352.6,4.1,2.2,59,4.9,0.0,partially affected
465,2,2,feb,sat,79.5,3.6,15.3,1.8,4.6,59,0.9,0.0,partially affected
463,6,5,feb,tue,75.1,4.4,16.2,1.9,4.6,82,6.3,0.0,partially affected
276,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
277,3,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,partially affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,6,6,aug,sat,96.0,164.0,643.0,14.0,30.8,30,4.9,0.0,partially affected
497,3,4,aug,tue,96.1,181.1,671.2,14.3,32.3,27,2.2,0.0,partially affected
496,4,5,aug,mon,96.2,175.5,661.8,16.8,32.6,26,3.1,0.0,partially affected
484,2,5,aug,sun,94.9,130.3,587.1,14.1,33.1,25,4.0,0.0,partially affected
498,6,5,aug,tue,96.1,181.1,671.2,14.3,33.3,26,2.7,0.0,partially affected

In [ ]:
sort1 = sort.iloc[:,[0, 1, 8, 10, 11, 12]]
sort1

     X  Y  temp wind rain                area
280  4  6   2.2  4.9  0.0  partially affected
465  2  2   4.6  0.9  0.0  partially affected
463  6  5   4.6  6.3  0.0  partially affected
276  4  4   4.6  8.5  0.0  partially affected
277  3  4   4.6  8.5  0.0  partially affected
..  .. ..   ...  ...  ...                 ...
494  6  6  30.8  4.9  0.0  partially affected
497  3  4  32.3  2.2  0.0  partially affected
496  4  5  32.6  3.1  0.0  partially affected
484  2  5  33.1  4.0  0.0  partially affected
498  6  5  33.3  2.7  0.0  partially affected

[270 rows x 6 columns]

In [ ]:
transpose = sort1.transpose()
transpose

,280,465,463,276,277,278,279,273,275,464,...,503,422,154,480,485,494,497,496,484,498
X,4,2,6,4,3,4,4,4,4,6,...,2,8,1,9,2,6,3,4,2,6
Y,6,2,5,4,4,4,4,6,6,4,...,4,6,5,9,4,6,4,5,5,5
temp,2.2,4.6,4.6,4.6,4.6,4.6,4.6,4.8,5.1,5.1,...,29.2,29.3,29.6,30.2,30.6,30.8,32.3,32.6,33.1,33.3
wind,4.9,0.9,6.3,8.5,8.5,8.5,8.5,8.5,4.9,5.4,...,4.9,3.6,2.7,4.5,3.6,4.9,2.2,3.1,4.0,2.7
rain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,...,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected,partially affected

In [ ]:
pivot_table = pd.pivot_table(sort1,index= ['temp','wind', 'rain', 'area'])
pivot_table

                                      X    Y
temp wind rain area
2.2  4.9  0.0  partially affected  4.00  6.0
4.6  0.9  0.0  partially affected  2.00  2.0
     6.3  0.0  partially affected  6.00  5.0
     8.5  0.0  partially affected  3.75  4.0
4.8  8.5  0.0  partially affected  4.00  6.0
...                                 ...  ...
30.8 4.9  0.0  partially affected  6.00  6.0
32.3 2.2  0.0  partially affected  3.00  4.0
32.6 3.1  0.0  partially affected  4.00  5.0
33.1 4.0  0.0  partially affected  2.00  5.0
33.3 2.7  0.0  partially affected  6.00  5.0

[251 rows x 2 columns]

In [ ]:
pivot_table.shape

(251, 2)

In [ ]:
melted = sort1.melt(id_vars=['temp', 'area'], var_name='weather', value_name='value')
melted

      temp                area weather value
0      2.2  partially affected       X     4
1      4.6  partially affected       X     2
2      4.6  partially affected       X     6
3      4.6  partially affected       X     4
4      4.6  partially affected       X     3
...    ...                 ...     ...   ...
1075  30.8  partially affected    rain   0.0
1076  32.3  partially affected    rain   0.0
1077  32.6  partially affected    rain   0.0
1078  33.1  partially affected    rain   0.0
1079  33.3  partially affected    rain   0.0

[1080 rows x 4 columns]